table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.square_btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: left;
    vertical-align: top;
    padding: calc(.2rem - 1px) 12px calc(.2rem - 1px) 12px;
    background-color: rgb(15, 98, 254);
    font-size: 12px;
    letter-spacing: 0.16px;
    min-height: 10px;
    line-height: 1.29;
    color: #fff;
    font-weight: 400;
    transition: background 70ms cubic-bezier(0,0,.38,.9),box-shadow 70ms cubic-bezier(0,0,.38,.9),border-color 70ms cubic-bezier(0,0,.38,.9),outline 70ms cubic-bezier(0,0,.38,.9);
}

.square_btn:hover {
    background-color: #0353e9;
}




